/* navigatiion bar */
nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  height: 20px;
}
a{
     font-size: 1px;
     font-family: Arial, sans-serif;
     color: black;
     text-decoration: none;
}
a p{
     margin-bottom: 4px;
}
a:hover{
     text-decoration: underline;
}
.nav-icon:hover{
     background-color: rgba(168, 159, 159, 20%);
     border-radius: 50%;
     
}
.nav-icon img{
     height: 7px;
     width: 7px;
     padding: 5px;
}
/* navigatiion bar end */
.content{
     
     margin: 0 auto;
     
     height : 150px; 
     width: 300px;
}
.image{
     display: flex;
     justify-content: center;

}
.image img{

     width: 90px;
     height: 300%;
}